<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270888006104-iancvudb8jbr53ia612rubh4e6s8getv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270888006104-iancvudb8jbr53ia612rubh4e6s8getv</string>
	<key>API_KEY</key>
	<string>AIzaSyCSGE5Yrgkx2qjpJyXQyuMwtBdAz6VJv6I</string>
	<key>GCM_SENDER_ID</key>
	<string>270888006104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.humanrabbits.postcrap</string>
	<key>PROJECT_ID</key>
	<string>postcrap-9b0fc</string>
	<key>STORAGE_BUCKET</key>
	<string>postcrap-9b0fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270888006104:ios:d36d559476e0c253fac2ad</string>
</dict>
</plist>